$color_black: #000000;
$color_white: #ffffff;
$color_gray_light: #EFEFEF;
$color_gray_dark: #5C5C5C;
$color_green_pale: #EBFFE3;
$color_red: #FF0000;

$font_primary: 'Roboto', Arial, sans-serif;
$font_secondary: 'Merriweather', Georgia, serif;


